# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/

# Binaries for programs
*.exe
*.dll
*.so
*.dylib

# Compiled binaries
# You might want to ignore the entire `bin/` directory if you compile your binaries there
bin/

# Test binaries
*.test
*.out

# Dependency management
# If you are not using Go modules, you might need to ignore vendor/
# vendor/

# Go module cache
# This is typically managed by Go itself, but can be added if issues arise
# go.mod.bak
# go.sum.bak

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak